<p>Hey {{ name }},</p>
<p>{{ appName }} Verificação</p>
<p>
    <span style="color: blue">{{code}}</span>
</p>

<p>não compartilhe este código com ninguém este código é válido apenas por 10 minutos.</p>